/*
    Name: Abhinav Jayakumar
    Date: 2024-05-21
    INFT 1206 Assignment 1
    Description: Marking up a letter
*/

body{
    font-family: Georgia;
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}

.address{
    text-align: right;
}
